#header {
  height: calc(100vh / 6);
}

#content {
  font-size: calc((100vh / 6) * 0.5);
}
.tap {
  height: calc(100vh / 6);
}
.tap .c-beer .beer-name {
  font-size: calc((100vh / 5) * 0.25);
}
.tap .c-beer .beer-info {
  font-size: calc((100vh / 6) * 0.2);
  padding-left: 10px;
}
